/* CSS Reset */
*{
    margin: 6px;
    padding: 4px;
    border-radius: 21px;
}


html{
    scroll-behavior: smooth;
}

/* CSS Variable */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content: "";
    position: absolute;
    background: url(../bg1.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    image-rendering: auto;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 100px;
    margin: 3px 5px;
}

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    
}

#navbar ul li{
 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px;
    border-radius: 20px;
    text-decoration: none;
    font-size: xx-large;
    background-color: white;
}

#navbar ul li a:hover{
    color: palegoldenrod;
    background-color: black;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 490px;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-weight: bold;
}

#home::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    height: 52%;
    width: 97%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;


}
/* Services section */
#services{
    margin: 500px;
    display: inline-block;
    border: 5px solid red;
    left: auto;
}
#services.box{
    border: 2px solid red;
    background-color: aqua;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 27px;
}
    

#services.box img{
    height: 160px;
    margin: auto;
    display: block;
    
}
#services .box p{
    font-family: 'Bree Serif', serif;

} 
/*service section*/
#food .client-item{
    position:relative;
}

#contact::before{
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}



/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 40px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 11px;
}



.btn{
    padding: 6px 172px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;

    
}
.center{
    text-align: center;
}
.col-1{
    border: 12cm;
    color: aqua;
}
.account-page{
    padding: 50px 0;
    background:radial-gradient(#fff,#3DCFD3) ;
}
form {
    border: 3px solid #f1f1f1;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: sticky;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0,0,0.1);
}

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
.other-login{background-color: lightgrey;
    width: 300px;
    border: 1px solid black;
    padding: 6px;
    margin: 20px;
    cursor: pointer;
}
#alignment{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#deep{
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 40px;
    width: 20%;
    text-align: center;
}
.col-1 p{
    flex-wrap: wrap-reverse;
    font-size: 35px;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: space-around;
}

.col-1 h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    
}
.col-1 u{
    color: black;
}
.col-2 img{

    width:50%;
}
